.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  .logo-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 24px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    align-items: stretch;
  }

  .nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    &:hover{
      background-color: #4a9ef2;
      border-radius: 8px;
    }
  }
}
